.classpath
.settings
.project
target
bin
jaxrsdoc
.pmd
.checkstyle
.metadata
*versionsBackup
*releaseBackup
release.properties
*.kdb.lock
*.orig
*.iml
*.log
*.ipr
*.iws
.idea
*/.idea/*
*~
.cache
out
*.toto
.factorypath
# jenv local java version
.java-version
